In [8]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

df = pd.read_csv("./data/rock_sonar.csv",header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [30]:
# df[1].value_counts()
# df.groupby(60).max()
# df.isnull().sum()
X = df.drop(60,axis=1)
Y = df[60]

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=1,test_size=.1,stratify=Y)
# print(X_train.shape)
# print(X_test.shape)

(187, 60)
(21, 60)

In [35]:
model = LogisticRegression()

model.fit(X_tairn,Y_train)

LogisticRegression()

### Accuracy

In [39]:
# Accuracy for training data
X_train_predicted = model.predict(X_train)
X_train_accuracy = accuracy_score(X_train_predicted,Y_train)
X_train_accuracy

0.8342245989304813

In [48]:
# model.predict(df[0:1].drop(60,axis=1))

array(['R'], dtype=object)

In [58]:
from sklearn.model_selection import cross_val_score
a = cross_val_score(model,X,Y,cv=5)
print(a.mean())

0.6300813008130082

In [ ]:
# Accuracy for test data