In [31]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/data/IRIS.csv")
# df.head(2) : To see first two rows
# df.shape : To see how many rows and columns
# df.columns : To see how many columns 
# df[['sepal_length','petal_length']] : To see multiple columns
# df.sepal_length : To see specipic column
# type(df.species) : To see the type of a column
# df.describe() : to see the statistics information 
# df.info() : To see the information of Data set
# df.isnull().sum() : To see the summation of null value
# X = df[["species"]]
# df.species.value_counts() : Count how many values

5.843333333333335

In [14]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa